header{
    height: auto;
    width: 100vw;
    background-color: rgba(24, 66, 125, 0.252);
    color: rgb(103, 141, 211);
    text-align: center;
    font-size: 4em;
    font-weight: 500;
    margin: 0%;
    text-shadow: .2px .2px rgb(245, 237, 237);
}

.empBlock{
    width: 20vw;
    max-height: 45vh;
    overflow: hidden;
    font-size: 1.2vw;
    color: rgb(103, 141, 211);
    background-color: rgb(11, 90, 117);
    border-radius: 10px;
    border-style: ridge;
    padding: 5px;
    text-align: center;
    font-weight: 500;
    text-shadow: .2px .2px rgb(245, 237, 237);
}
img{
    width: 90%;
    margin: 5% ;
    border-style: solid;
    border-width: 3px;
    border-radius: 50%;
    border-color: rgb(40, 184, 184);
}
.imgBox{
    width: 150%;
}
.grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(50, 1fr);
    grid-column-gap: 3px;
    grid-row-gap: 3px;
    }
body{
    background-color: rgba(0, 0, 0, 0.592);
}

.searchBar{
    width: 100%;
    height: auto;
    background-color: rgba(61, 180, 220, 0.694);
    color: rgb(31, 38, 42);
  
}
.inline{
    display: inline-block;
    margin: 5px 2vw;
}

label{
    font-weight: 800;
    padding: 8px;
}
h2{
    margin: 0;
}
p{
    margin: 0%;
    color: rgb(195, 204, 19);
    text-shadow: none;
    font-size: 1.3em;
}
.name{
    position: relative;
    top: -25%;
    left: 40%;
    color: rgb(47, 9, 103);
    background-color: rgba(255, 255, 255, 0.571);
    /* width: 60%; */
    margin: 0 20%;
}

.age{
    position: relative;
    right: -40%;
    text-align: center;
    color: rgb(195, 204, 19);
    font-size: 1.5em;
    width: 60%;
    margin: 0;
    background-color: teal;
    height: 30%;
}
h3{
    margin: 0px;
}
.grid2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }

.info{
    position: relative;
    top: -15%;
}
